@charset "UTF-8";
/* abstracts */
/* Colores */
/* Fuentes */
/* Breakpoints */
/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active {
  text-decoration: none;
}

.margin {
  margin: 15px;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
  margin: 60px 0;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 200px;
}

.link {
  color: rgb(253, 248, 248);
}

.fuente-titulo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
}

.bg-color {
  background-image: linear-gradient(to top, #315566 0%, rgb(255, 255, 255) 100%);
  height: 1000px;
}

/* layouts */
.df-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  max-width: 100%;
  height: 100px;
}
.df-header .df-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.df-header .df-ul li {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20.5px;
}
.df-header .navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #0c1c95;
  background-color: rgb(0, 0, 0);
}
.df-header .navegacion:hover {
  color: rgb(253, 248, 248);
  border: 2px solid #3D50E9;
}
.df-header li {
  display: inline-block;
  position: relative;
}
.df-header ul ul {
  position: absolute;
  display: none;
}
.df-header ul ul li {
  display: block;
}
.df-header ul li:hover ul {
  display: block;
  width: 145px;
}

.min-height {
  min-height: 70vh;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(55rem - 80px);
}

.div-container {
  margin-top: 80px;
  margin-left: 100px;
  font-size: 2.2rem;
  width: 700px;
  font-family: "Manrope", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.container-2, .bg-career {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 700px;
  background-color: rgb(0, 0, 0);
}
.container-2 .info, .bg-career .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  color: rgb(253, 248, 248);
}
.container-2 .info .info-div, .bg-career .info .info-div {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 900px;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.div-img .container-img {
  width: 700px;
  height: 400px;
}

.styles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}
.styles .seminarios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
.styles .seminarios .fuente-seminarios {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.iconos .img-iconos {
  width: 400px;
  height: 600px;
}
.iconos .img-iconos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.iconos .animation {
  position: relative;
  overflow: hidden;
}
.iconos .animation::before {
  content: "Danza Clásica";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6901960784);
  transform: scale(0);
  transition: transform 0.4s;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.iconos .animation.content-b::before {
  content: "Danza Clásica";
  color: rgb(253, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos .animation.content-a::before {
  content: "Acrobacia Integral";
  color: rgb(253, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos .animation.content-u::before {
  content: "Ritmos Urbanos";
  color: rgb(253, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos .animation.content-t::before {
  content: "Interpretación y Teatro";
  color: rgb(253, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos .animation:hover::before {
  transform: scale(1);
}
.iconos .fuente--parrafo {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.container-iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-iconos .icono-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-iconos .icono-center .animacion-icono {
  transition: all 0.3s ease-in-out;
}
.container-iconos .icono-center .animacion-icono:hover {
  transform: scale(1.4);
  transform-origin: center center;
}
.container-iconos .icono-center .sugerencias {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.button {
  width: 250px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  border-color: #3D50E9;
  border-width: 3.5px;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

.grid {
  border: 3px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid .grid-rows {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(253, 248, 248);
  height: 100px;
  color: rgb(253, 248, 248);
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}
.grid .grid-hour {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 13px;
  border: 2px solid rgb(218, 121, 76);
  color: rgb(218, 121, 76);
  width: 55px;
  height: 25px;
  font-weight: 700;
}
.grid .grid-classes {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid rgba(11, 162, 170, 0.678);
  color: rgba(11, 162, 170, 0.678);
  font-size: 18px;
  width: 200px;
  height: 30px;
  font-weight: 700;
}
.grid .grid-classes2 {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid rgba(209, 14, 144, 0.678);
  color: rgba(214, 39, 191, 0.815);
  font-size: 20px;
  width: 200px;
  height: 30px;
  font-weight: 700;
}
.grid .grid-classes3 {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid rgba(209, 118, 14, 0.678);
  color: rgba(209, 118, 14, 0.678);
  font-size: 20px;
  width: 200px;
  height: 30px;
  font-weight: 700;
}

.hour-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.advertencia {
  text-align: center;
  border: 3px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.288);
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 810px;
  height: 40px;
}
.advertencia a {
  color: rgb(255, 0, 0);
}

.contact {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-form .formulario {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  color: rgb(253, 248, 248);
  background-color: rgb(0, 0, 0);
  width: 440px;
  height: 420px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 550px;
}
.section-form .formulario .legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 100%;
  background-color: rgb(53, 53, 53);
  border: 2px solid rgb(0, 0, 0);
}

.img-form {
  margin: 25px;
  padding: 10px;
  height: 150px;
}

.form-items input {
  width: 300px;
}

.div-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  font-size: 20px;
}
.div-form input {
  height: 30px;
}
.div-form textarea {
  height: 100px;
}
.div-form label {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 500;
}

.movimiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  margin: 9px;
}
.movimiento input {
  width: 90%;
  height: 30px;
}

.checkbox {
  display: flex;
  margin: 10px;
}

.move {
  margin-top: 2px;
}

.label-checkbox {
  font-size: 15px;
  width: 500px;
  padding: 10px;
}

.boton {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.boton-form {
  background-color: rgba(39, 200, 228, 0.308);
  border-color: rgb(0, 0, 0);
  border-width: 3.5px;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}

/** Fin de Contacto **/
.bg-footer {
  background-color: rgb(0, 0, 0);
  color: #0c1c95;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.bg-footer .redes-container, .bg-footer .contenido-seminario .seminario-imagenes .seminario, .contenido-seminario .seminario-imagenes .bg-footer .seminario, .bg-footer .form-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-footer .redes-container .redes, .bg-footer .contenido-seminario .seminario-imagenes .seminario .redes, .contenido-seminario .seminario-imagenes .bg-footer .seminario .redes, .bg-footer .form-items .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bg-footer .redes-container .redes a i, .bg-footer .contenido-seminario .seminario-imagenes .seminario .redes a i, .contenido-seminario .seminario-imagenes .bg-footer .seminario .redes a i, .bg-footer .form-items .redes a i {
  font-size: 25px;
  text-align: center;
  margin: 7px;
  padding: 5px 10px;
  width: 30px;
  height: 30px;
  color: var(--primario);
}
.bg-footer .redes-container .redes a i:hover, .bg-footer .contenido-seminario .seminario-imagenes .seminario .redes a i:hover, .contenido-seminario .seminario-imagenes .bg-footer .seminario .redes a i:hover, .bg-footer .form-items .redes a i:hover {
  transform: scale(1.5);
  transition: all 1s ease;
  color: rgb(253, 248, 248);
}

/* components */
/** Quienes Somos **/
.img--destacada {
  width: 100%;
  height: 700px;
}

.heading {
  font-size: 50px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 10px;
}

.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10px;
  padding: 20px;
}

.tres--columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  margin: 40px;
}

/** Fin de Quienes Somos **/
/** Carrera **/
html {
  scroll-behavior: smooth;
}

.bg-career {
  height: 1100px;
}

.banner-carrera {
  background-image: url(../img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-carrera .button-carrera {
  background-color: rgb(0, 0, 0);
  border-color: #3D50E9;
  border-width: 5px;
  font-size: 25px;
  font-weight: normal;
  width: 350px;
  height: 70px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.banner-carrera .button-carrera:hover {
  transform: scale(1.1);
  transform-origin: center center;
}
.banner-carrera .space {
  text-align: center;
  margin: 30px;
  width: 900px;
}
.banner-carrera .space .titulo-carrera {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 65px;
}

.space-boton, .img-carrera {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.img-carrera {
  width: 800px;
  height: 500px;
}

.info-carrera {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
  color: rgb(253, 248, 248);
}
.info-carrera span {
  margin: 2px;
  padding-left: 10px;
  line-height: 35px;
  color: #3D50E9;
  border: 3px solid rgb(253, 248, 248);
}
.info-carrera h2 {
  font-size: 3.5rem;
  padding: 10px;
}

.container-carrera {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-carrera .column {
  display: flex;
  flex-direction: column;
}
.container-carrera .column .inscripcion {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
}
.container-carrera .column .inscripcion .titulo-form {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
.container-carrera .column .inscripcion .row {
  display: flex;
  flex-direction: row;
}
.container-carrera .column .inscripcion .text-form {
  width: 650px;
  height: 50px;
}

.dos-columnas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 150px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  margin: 20px;
}

.boton-carrera {
  color: rgb(253, 248, 248);
  background-color: rgb(0, 0, 0);
  border: 4px solid #0c1c95;
  font-size: 25px;
  width: 250px;
  height: 60px;
  font-weight: 700;
}

/** Fin de Carrera **/
/** Seminarios **/
.titulo-seminario {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

.espacio-titulo {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.parrafo {
  margin: 10px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.img-tamaño {
  width: 700px;
  height: 400px;
}

.info-seminario {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  line-height: 30px;
}

.costo {
  font-size: 25px;
  text-transform: uppercase;
  color: #d9157a;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
}

.span {
  color: #6a489d;
  font-size: 20px;
  margin-bottom: 5px;
}

.contenido-seminario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contenido-seminario .seminario-imagenes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.contenido-seminario .seminario-imagenes .h2-seminario {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.contenido-seminario .seminario-imagenes .seminario {
  width: 700px;
  height: 500px;
  transition: all 0.3s ease-in-out;
}
.contenido-seminario .seminario-imagenes .seminario:hover {
  transform: scale(1.1);
  transform-origin: center center;
}
.contenido-seminario .img-seminario {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 30px;
  margin: 10px 0 0 30px;
  width: 850px;
  height: 500px;
}
.contenido-seminario .info-costo {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  padding: 15px;
}
.contenido-seminario .descrip-seminario {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  padding: 15px;
  margin-right: 20px;
}
.contenido-seminario .space-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.contenido-seminario .button-seminario {
  background-color: rgb(0, 0, 0);
  border-color: #d9157a;
  color: rgb(253, 248, 248);
  border-width: 3.5px;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contenido-seminario .button-seminario:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

/** Fin de Seminario **/
/** Preguntas Frecuentes **/
.main {
  max-width: 1000px;
  width: 90%;
  margin: 40px auto;
}
.main .contenedor-preguntas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.main .contenedor-preguntas .contenedor-pregunta {
  background: rgb(234, 233, 241);
  padding: 40px;
  border: 2px solid transparent;
  border-radius: 10px;
}
.main .contenedor-preguntas .contenedor-pregunta:hover {
  box-shadow: rgb(36, 36, 36);
}
.main .contenedor-preguntas .contenedor-pregunta .pregunta {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-left: 7px;
}
.main .contenedor-preguntas .contenedor-pregunta .respuesta {
  font-family: "Roboto", sans-serif;
  color: #808080;
  padding: 10px;
  line-height: 30px;
}

/* Fin de Preguntas Frecuentes */
/** Media Queries **/
@media (max-width: 1440px) {
  .df-header {
    height: 200px;
  }
  .df-ul {
    justify-content: center;
  }
  .navegacion {
    font-size: 18px;
  }
  .space {
    width: 700px;
  }
  .container, .banner-carrera {
    justify-content: center;
    align-items: center;
  }
  .container-2, .bg-career {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1100px;
  }
  .info-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-carrera {
    margin: 5px;
    width: 700px;
    height: 400px;
  }
  .img-iconos {
    width: 400px;
    height: 500px;
    margin: 20px;
    padding: 10px;
  }
  .iconos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-iconos {
    width: 450px;
    height: 400px;
    margin: 20px;
    padding: 10px;
  }
  .icono-center svg {
    width: 80px;
  }
  .sugerencias {
    font-size: 25px;
  }
  .bg-footer {
    font-size: 18px;
  }
  .bg-career {
    height: 1400px;
  }
  .inscripcion {
    width: 1400px;
  }
  .inscripcion label {
    font-size: 20px;
  }
  .bg-color {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1280px) {
  .df-ul {
    justify-content: center;
  }
  .navegacion {
    font-size: 18px;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .container-2, .bg-career {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1400px;
  }
  .info-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-carrera {
    margin: 5px;
    width: 700px;
    height: 400px;
  }
  .dos-columnas {
    column-gap: 50px;
  }
  .text-form {
    width: 400px;
  }
  .seminarios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fuente-seminarios {
    margin: 15px;
    font-size: 40px;
  }
  .iconos {
    flex-wrap: wrap;
  }
  .img-iconos {
    width: 450px;
    height: 400px;
    margin: 20px;
    padding: 10px;
  }
  .icono-center svg {
    width: 80px;
  }
  .sugerencias {
    font-size: 25px;
  }
  .bg-footer {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .df-header {
    height: 150px;
  }
  .df-ul {
    flex-wrap: wrap;
  }
  .logo {
    width: 300px;
  }
  .container-2, .bg-career {
    height: 1200px;
  }
  .info-div {
    display: flex;
    flex-direction: column;
    width: 700px;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
  }
  .titulo-carrera {
    font-size: 40px;
  }
  .button-carrera {
    font-size: 20px;
    width: 170px;
    height: 35px;
    font-weight: 700;
  }
  .titulo-form {
    font-size: 30px;
  }
  .button-carrera {
    width: 250px;
    height: 70px;
  }
  .dos-columnas {
    font-size: 18px;
  }
  .info-carrera h2 {
    font-size: 2.5rem;
    padding: 10px;
  }
  .info-carrera {
    font-size: 15px;
  }
  .img-carrera {
    width: 550px;
    height: 400px;
    padding: 15px;
  }
  .boton-carrera {
    font-size: 20px;
    width: 170px;
    height: 35px;
    font-weight: 700;
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 70px;
  }
  .iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-iconos {
    width: 600px;
    height: 500px;
  }
  .container-iconos {
    display: flex;
    flex-direction: column;
  }
  .icono-center svg {
    width: 350px;
    height: 120px;
  }
  .sugerencias {
    font-size: 25px;
    padding: 15px;
    margin: 20px;
  }
  .bg-footer {
    font-size: 15px;
  }
  .logo {
    width: 200px;
  }
  .contenido-seminario {
    display: flex;
    flex-direction: column;
  }
  .tres--columnas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .info {
    font-size: 15px;
    padding: 15px;
    text-align: center;
  }
  .info-div {
    font-size: 18px;
    padding: 20px;
  }
  .redes-container, .form-items, .contenido-seminario .seminario-imagenes .seminario, .bg-footer h3 {
    font-size: 15px;
    text-align: center;
  }
  .container-2, .bg-career {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1300px;
  }
  .info-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-carrera {
    margin: 5px;
    width: 700px;
    height: 400px;
  }
  .titulo-carrera {
    margin-left: 120px;
    font-size: 5px;
    width: 650px;
  }
  .button-carrera {
    font-size: 20px;
    width: 150px;
    height: 70px;
  }
  .img-carrera {
    width: 500px;
    height: 350px;
  }
  .titulo-form {
    font-size: 18px;
  }
  .dos-columnas {
    display: flex;
    justify-content: space-around;
  }
  .tres--columnas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .df-header {
    height: 450px;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 300px;
    padding: 10px;
    margin: 10px;
  }
  .container h1 {
    font-size: 25px;
    text-align: center;
  }
  .div-container {
    color: antiquewhite;
    font-size: 25px;
    width: 400px;
    padding: 5px;
    margin-right: 60px;
  }
  .info-div {
    font-size: 10px;
    justify-content: center;
    width: 55px;
  }
  .button {
    width: 250px;
  }
  .container-2, .bg-career {
    height: 1300px;
    width: 500px;
  }
  .info-carrera {
    font-size: 10px;
  }
  .container-img {
    width: 400px;
  }
  .img--destacada {
    width: 480px;
  }
  .tres--columnas {
    display: flex;
    flex-direction: column;
  }
  .seminarios {
    font-size: 15px;
  }
  .fuente-seminarios {
    margin: 15px;
    text-align: center;
    font-size: 30px;
  }
  .img-iconos {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
  }
  .icono-center svg {
    width: 80px;
  }
  .sugerencias {
    font-size: 25px;
  }
  .bg-footer {
    font-size: 13px;
  }
  .space {
    width: 500px;
  }
  .titulo-carrera {
    font-size: px;
  }
  .button-carrera {
    font-size: 18px;
    width: 190px;
    height: 50px;
  }
  .info {
    width: 400px;
    height: 500px;
  }
  .info-carrera {
    font-size: 5px;
    margin-right: 200px;
    font-size: 13px;
    width: 400px;
    height: 700px;
  }
  .img-carrera {
    width: 300px;
    height: 200px;
    margin-top: 185px;
    margin-right: 170px;
  }
  .titulo-form {
    font-size: 25px;
  }
  .text-form {
    width: 250px;
    height: 30px;
  }
  .inscripcion, .row {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }
  .titulo-seminario {
    font-size: 20px;
  }
  .costo, .span {
    font-size: 15px;
  }
  .parrafo {
    font-size: 15px;
  }
  .seminario {
    width: 380px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
  .h2-seminario {
    font-size: 25px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
