:root {
    --primario: #0c1c95;
    --primarioClaro: #3D50E9;
    --lightBlue: rgba(11, 162, 170, 0.678);
    --blanco: rgb(253, 248, 248);
    --negro: rgb(0, 0, 0);
    --orange: rgba(209, 118, 14, 0.678);
    --lightOrange: rgb(218, 121, 76);
    --pink: rgba(209, 14, 144, 0.678);
    --violet: #6a489d;
    --red: rgb(255, 0, 0);
    --fuentePrimaria: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Manrope', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
a:active {
    text-decoration: none;

}
.margin {
    margin: 15px;
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo {
    color: var(--negro);
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
    font-family: var(--fuentePrimaria);
    font-size: 40px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 200px;
}
.link {
    color: var(--blanco);
}
.fuente-titulo {
    font-family: var(--fuentePrimaria);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;

}
.parrafo {
    font-family: var(--fuentePrimaria);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px;
    padding: 20px;
}

.bg-color {
    background-image: linear-gradient(to top, #315566 0%, rgb(255, 255, 255) 100%);
    height: 1000px;
}
/* Header */
.df-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
    max-width: 100%;
    height: 100px;
}
.df-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.df-ul li {
    font-family: var(--fuentePrimaria);
    font-weight: bold;
    font-size: 20.5px;
}
.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primario);
    background-color: var(--negro);
}
.navegacion:hover {
    color: var(--blanco);
    border: 2px solid var(--primarioClaro);
}
li {
    display: inline-block;
    position: relative;
}
ul ul {
    position: absolute;
    display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul {
    display: block;
    width: 145px;
}
/* Fin del header */

/* Main */
.min-height {
    min-height: 70vh;
}    
.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(55rem - 80px)
}
.div-container {
    margin-top: 80px;
    margin-left: 100px;
    font-size: 2.2rem;
    width: 700px;
    font-family: 'Manrope', sans-serif;
    color: var(--negro);
    text-align: center;
}
.button {
    background-color: var(--negro);
    border-color: var(--primarioClaro);
    border-width: 3.5px;
    font-size: 20px;
    font-weight: normal;
    width: 250px;
    height: 60px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.button:hover {
    transform: scale(1.1);
    transform-origin: center center;
}
.container-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 700px;
    background-color: var(--negro);
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    font-size: 2rem;
    font-family: var(--fuenteSecundaria);
    color: var(--blanco);
}
.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
.container-img {
    width: 700px;
    height: 400px;
}
.info-div {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 900px;
}
.styles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
}
.h2-seminario {
        font-family: var(--fuentePrimaria);
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 25px;
}
.seminarios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.fuente-seminarios {
    font-size: 3.5rem;
    font-family: var(--fuentePrimaria);
}
.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.container-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icono-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-iconos {
    width: 400px;
    height: 600px;
}
.img-iconos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.animacion-icono {
    transition: all .3s ease-in-out;
}
.animacion-icono:hover {
    transform: scale(1.4);
    transform-origin: center center;
}
.fuente--parrafo {
    font-size: 35px;
    font-family: var(--fuentePrimaria);
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.animation {
    position: relative;
    overflow: hidden;
}
.animation::before {
    content: "Danza Clásica";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #010101b0;
    transform: scale(0);
    transition: transform .4s;
    font-size: 25px;
    font-family: var(--fuentePrimaria);
    text-transform: uppercase;
    font-weight: 700;
}
.animation.content-b::before {
    content: "Danza Clásica";
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation.content-a::before {
    content: "Acrobacia Integral";
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation.content-u::before {
    content: "Ritmos Urbanos";
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation.content-t::before {
    content: "Interpretación y Teatro";
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation:hover::before {
    transform: scale(1);
}
.sugerencias {
    font-family: var(--fuentePrimaria);
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
}
/** Fin de main Index **/

/** Quienes Somos**/
.img--destacada {
    width: 100%;
    height: 700px;
}
.heading {
    font-size: 50px;
    font-family: var(--fuenteSecundaria);
    font-weight: 500;
    text-align: center;
    margin: 10px;
}
.tres--columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    font-size: 20px;
    font-family: var(--fuenteSecundaria);
    margin: 40px;
}
/** Fin Quienes Somos **/

/** Clases **/
.grid {
    border: 3px solid var(--negro);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth"
    "first" "second" "third" "fourth" "fifth" "sixth";
    
}
.grid-rows {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blanco);
    height: 100px;
    color: var(--blanco);
    background-color: var(--negro);
    font-family: var(--fuentePrimaria);
}
.grid-classes {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--lightBlue);
    color: var(--lightBlue);
    font-size: 18px;
    width: 200px;
    height: 30px;
    font-weight: 700;
}
.grid-classes2 {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--pink);
    color: rgba(214, 39, 191, 0.815);
    font-size: 20px;
    width: 200px;
    height: 30px;
    font-weight: 700;
}
.grid-classes3 {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-size: 20px;
    width: 200px;
    height: 30px;
    font-weight: 700;
}
.grid-hour {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid var(--lightOrange);
    color: var(--lightOrange);
    width: 55px;
    height: 25px;
    font-weight: 700;
}
.hour-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.advertencia {
    text-align: center;
    border: 3px solid var(--red);
    background-color: rgba(255, 0, 0, 0.288);
    font-size: 25px;
    font-family: var(--fuentePrimaria);
    margin-top: 15px;
    margin-bottom: 30px;
    width: 810px;
    height: 40px;
}
.advertencia a {
    color: var(--red);
}
/** Fin Clases **/

/** Carrera **/
.banner-carrera {
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-carrera {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 65px;
}
.space {
    text-align: center;
    margin: 30px;
    width: 900px;  
   
}
.space-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.img-carrera {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    width: 800px;
    height: 500px;
}
.info-carrera h2 {
    font-size: 3.5rem;
    padding: 10px;
}
.info-carrera {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    font-size: 22px;
    font-family: var(--fuenteSecundaria);
    letter-spacing: 1px;
    color: var(--blanco);
}
.button-carrera {
    background-color: var(--negro);
    border-color: var(--primarioClaro);
    border-width: 5px;
    font-size: 25px;
    font-weight: normal;
    width: 350px;
    height: 70px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.container-carrera {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.inscripcion {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}
.titulo-form {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    font-family: var(--fuentePrimaria);
}
.text-form {
    width: 650px;
    height: 50px;
}
.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--fuenteSecundaria);
    margin: 20px;
}
.boton-carrera {
    color: var(--blanco);
    background-color: var(--negro);
    border: 4px solid var(--primario);
    font-size: 25px;
    width: 250px;
    height: 60px;
    font-weight: 700;
}

/** Seminarios **/
.enlace {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 0ch;
    color: var(--primario);
}
.contenido-seminario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.seminario-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.seminario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    transition: all .3s ease-in-out;
}
.seminario:hover {
    transform: scale(1.1);
    transform-origin: center center;
}
.img-seminario {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 30px;
    margin: 10px 0 0 30px;
    width: 850px;
    height: 500px;
}
.img-tamaño {
    width: 700px;
    height: 400px;
}

.costo {
    font-size: 25px;
    text-transform: uppercase;
    color: #d9157a;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-family: var(--fuenteSecundaria);

}
.span {
    color: #6a489d;
    font-size: 20px;
    margin-bottom: 5px;
}
.info-costo {
    font-size: 20px;
    font-family: var(--fuenteSecundaria);
    padding: 15px;
}

.info-seminario {
    font-size: 15px;
    font-family: var(--fuenteSecundaria);
    line-height: 30px;
}
.espacio-titulo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.descrip-seminario {
    font-size: 23px;
    font-family: var(--fuenteSecundaria);
    padding: 15px;
    margin-right: 20px;

}
.titulo-seminario {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 14px;
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    line-height: 1.1;
}
.space-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.button-seminario {
    background-color: var(--negro);
    border-color: #d9157a;
    color: var(--blanco);
    border-width: 3.5px;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 60px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.button-seminario:hover {
    transform: scale(1.1);
    transform-origin: center center;
}

/** Preguntas Frecuentes **/
.main {
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
}
.contenedor-preguntas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.contenedor-pregunta {
    background: rgb(234, 233, 241);
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;

}
.contenedor-pregunta:hover {
    box-shadow :rgb(36, 36, 36);
}
.pregunta {
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.respuesta {
    font-family: var(--fuentePrimaria);
    color: #808080;
    padding: 10px;
    line-height: 30px;
}

/** Contacto, Registrarse, Iniciar Sesión **/
.contact {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 100%;
    background-color: rgb(53, 53, 53);
    border: 2px solid var(--negro);
}
.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-direction: column;
    color: var(--blanco);
    background-color: var(--negro);
    width: 440px;
    height: 420px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 550px;
}
.img-form {
    margin: 25px;
    padding: 10px;
    height: 150px;
}
.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-items input {
    width: 300px;
}
.div-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    font-size: 20px;
}
.div-form input {
    height: 30px;
}
.div-form textarea {
    height: 100px;
}
.movimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    margin: 9px;
}
.movimiento input {
    width: 90%;
    height: 30px;
}
.checkbox {
    display: flex;
    margin: 10px;
    
}
.move {
    margin-top: 2px;
}
.label-checkbox {
    font-size: 15px;
    width: 500px;
    padding: 10px;
}
.div-form label {
    font-family: var(--fuentePrimaria);
    text-align: left;
    font-weight: 500;
}
.boton {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.boton-form {
    background-color: rgba(39, 200, 228, 0.308);
    border-color: var(--negro);
    border-width: 3.5px;
    font-size: 20px;
    font-weight: 700;
    width: 140px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
}
/** Fin de Contacto **/

/* Footer */
.bg-footer {
    background-color: var(--negro);
    color: var(--primario);
    ;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: var(--fuentePrimaria);
}
.redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.redes a i {
    font-size: 25px;
    text-align: center;
    margin: 7px;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    color: var(--primario);
}
.redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
    color: var(--blanco);
}
/* Fin de footer */

/** Media Queries **/
@media (max-width: 1440px) {
    .df-header {
        height: 200px;
    }
    .img-iconos {
        width: 400px;
        height: 500px;
        margin: 20px;
        padding: 10px;
    }     
}
@media (max-width: 1280px) {
    .df-ul {
        justify-content: center;
    }
    .navegacion {
        font-size: 18px;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
    .container-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1100px;
    }
    .info-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-carrera {
        margin: 5px;
        width: 700px;
        height: 400px;
    }
    .dos-columnas {
        column-gap: 50px;
    }
    .text-form {
        width: 400px;
    }
    .seminarios {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fuente-seminarios {
        margin: 15px;
        font-size: 40px;
    }
    .iconos {
        flex-wrap: wrap;
    }
    .img-iconos {
        width: 450px;
        height: 400px;
        margin: 20px;
        padding: 10px;
    }
    .icono-center svg {
        width: 80px;
    }
    .sugerencias {
        font-size: 25px;
    }
    .bg-footer {
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    .df-header {
        height: 150px;
    }
    .df-ul {
        flex-wrap: wrap;
    }
    .logo {
        width: 300px;
    }
    .container-2 {
        height: 900px
    }
    .titulo-carrera {
        font-size: 40px;
    }
    .button-carrera {
        font-size: 20px;
        width: 170px;
        height: 35px;
        font-weight: 700;
    }
    .titulo-form {
        font-size: 30px;
    }
    .button-carrera {
        width: 250px;
        height: 70px;
    }
    .dos-columnas {
        font-size: 18px;
    }
    .info-carrera h2 {
        font-size: 2.5rem;
        padding: 10px;
    }
    .info-carrera {
        font-size: 15px;
    }
    .img-carrera {
        width: 550px;
        height: 400px;
        padding: 15px;
    }
    .boton-carrera {
        font-size: 20px;
        width: 170px;
        height: 35px;
        font-weight: 700;
        }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-left: 70px;
    }
    .iconos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-iconos {
        width: 600px;
        height: 500px;
    }
    .container-iconos {
        display: flex;
        flex-direction: column;
    }
    .icono-center svg {
        width: 350px;
        height: 120px;
        
    }
    .sugerencias {
        font-size: 25px;
        padding: 15px;
        margin: 20px;
    }
    .bg-footer {
        font-size: 15px;
    }
    .logo {
        width: 200px;
    }
    .contenido-seminario {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .info {
        font-size: 15px;
        padding: 15px;
        text-align: center;
    }
    .redes-container, .bg-footer h3 {
        font-size: 15px;
        text-align: center;
    }
    .titulo-carrera {
        font-size: 35px;
        width: 880px;
    }
    .button-carrera {
    font-size: 20px;
    width: 210px;
    height: 70px;
    }
    .img-carrera {
        width: 500px;
        height: 350px;
    }
    .titulo-form {
        font-size: 25px;
    }
    .text-form {
        width: 250px;
    }
}
@media (max-width: 480px) {
    .df-header {
        height: 450px;
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        width: 300px;
        padding: 10px;
        margin: 10px;
    }
    .container h1 {
        font-size: 25px;
        text-align: center;
        
    }
    .div-container {
        color: antiquewhite;
        font-size: 25px;
        width: 400px;
        padding: 5px;
        margin-right: 60px;
    }
    .info-div {
        font-size: 20px;
        justify-content: center;
        width: 400px;
    }
    .button {
        width: 250px;
    }
    .container-2 {
        height: 900px;
        width: 500px;
    }
    .container-img {
        width: 400px;
    }
    .seminarios {
        font-size: 15px;
    }
    .fuente-seminarios {
        margin: 15px;
        text-align: center;
        font-size: 30px;
    }
    .img-iconos {
        width: 400px;
        height: 400px;
        margin: 20px;
        padding: 10px;
    }
    .icono-center svg {
        width: 80px;
    }
    .sugerencias {
        font-size: 25px;
    }
    .bg-footer {
        font-size: 13px;
    }
    .space {
        width: 500px;
    }
    .titulo-carrera {
        font-size: 35px;
    }
    .button-carrera {
    font-size: 18px;
    width: 190px;
    height: 50px;
    }
    .info {
    width: 520px;
    height: 500px;
    }
    .info-carrera {
        font-size: 13px;
        width: 490px;
    }
    .img-carrera {
        width: 400px;
        height: 300px;
    }
    .titulo-form {
        font-size: 25px;
    }
    .text-form {
        width: 250px;
        height: 30px;
    }
    .inscripcion, .row {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    .titulo-seminario{
        font-size: 20px;
    }
    .costo, .span {
        font-size: 15px;
    }
    .parrafo {
        font-size: 15px;
    }
    .seminario {
        width: 380px;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .h2-seminario {
        font-size: 25px;
        text-align: center;
    }
}

