   //Variables

    /* Colores */   
    $primario: #0c1c95;
    $primarioClaro: #3D50E9;
    $lightBlue: rgba(11, 162, 170, 0.678);
    $blanco: rgb(253, 248, 248);
    $negro: rgb(0, 0, 0);
    $orange: rgba(209, 118, 14, 0.678);
    $lightOrange: rgb(218, 121, 76);
    $pink: rgba(209, 14, 144, 0.678);
    $violet: #6a489d;
    $red: rgb(255, 0, 0);

    /* Fuentes */
    $fuentePrimaria: 'Roboto', sans-serif;
    $fuenteSecundaria: 'Manrope', sans-serif;


    