/** Carrera **/
html {
    scroll-behavior: smooth;
}
.bg-career {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: $negro;
    height: 700px;
}

.banner-carrera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/img2-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: calc(55rem - 80px);
    

    .button-carrera {
        background-color: $negro;
        border-color: $primarioClaro;
        border-width: 5px;
        font-size: 25px;
        font-weight: normal;
        width: 350px;
        height: 70px;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transform-origin: center center;
        }
    }
    .space {
        text-align: center;
        margin: 15px;
        width: 900px;  

        .titulo-carrera {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fuenteSecundaria;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 65px;
            padding: 10px;
        }
    }
}
.space-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-carrera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
}
.info-carrera {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    font-size: 22px;
    font-family: $fuenteSecundaria;
    letter-spacing: 1px;
    color: $blanco;

    & h2 {
        font-size: 3.5rem;
        padding: 10px;
    }
}
.container-carrera {
    display: flex;
    justify-content: center;
    align-items: center; 

    .column {
        display: flex;
        flex-direction: column;

        .inscripcion {
            display: flex;
            flex-direction: column;

            .titulo-form {
                text-align: center;
                font-weight: 700;
                font-size: 35px;
                font-family: $fuentePrimaria;
                padding: 25px;
            }
            .row {
                display: flex;
                flex-direction: row;
            }
            .text-form {
                width: 650px;
                height: 50px;
            }
        }
    }
}
.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    font-size: 25px;
    font-weight: 700;
    font-family: $fuenteSecundaria;
    padding: 10px;
}
.boton-carrera {
    color: $blanco;
    background-color: $negro;
    border: 4px solid $primario;
    font-size: 25px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    margin: 15px;
    
}
/** Fin de Carrera **/